/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap");

/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --gray-color: #777;
  --section-background-color: #f6f6f6;
  --p-y: 60px;
  --space-height: 1.8;
  --transition-duration: 0.3s;
}
/* End Variables */

/* Start Components */
.special-heading {
  text-align: center;
  font-size: 150px;
  color: #ebeced;
  font-weight: 800;
  letter-spacing: -5px;
  margin: 0;
}

.special-heading + p {
  text-align: center;
  margin: -40px 0 0;
  font-size: 20px;
  color: #797979;
}

@media (max-width: 767px) {
  .special-heading {
    font-size: 75px;
  }

  .special-heading + p {
    margin-top: -20px;
    font-size: 18px;
  }
}
/* End Components */

/* Start Global Rules */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Header */
header {
  padding: 20px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 75px;
}

header .links {
  position: relative;
  cursor: pointer;
}

header .links:hover .icon span:nth-child(2) {
  width: 100%;
}

header .links:hover .icon span {
  background-color: var(--main-color);
}

header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header .links .icon span {
  background-color: var(--gray-color);
  height: 2px;
  margin-bottom: 5px;
}

header .links .icon span:first-child,
header .links .icon span:last-child {
  width: 100%;
}

header .links .icon span:nth-child(2) {
  width: 50%;
  transition: var(--transition-duration);
}

header .links ul {
  content: "";
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--secondary-color);
  min-width: 200px;
  right: 0;
  top: calc(100% + 10px);
  display: none;
  z-index: 1;
}

header .links:hover ul {
  display: block;
}

header .links ul::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-color: transparent transparent var(--secondary-color) transparent;
  border-style: solid;
  right: 5px;
  top: -20px;
}

header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  padding: 15px;
  color: #fff;
  transition: var(--transition-duration);
}

header .links ul li a:hover {
  color: var(--main-color);
  padding-left: 25px;
  border-left: 5px solid var(--main-color);
}

header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End Header */

/* Start Landing Section */
.landing {
  background-image: url("/assets/images/landing.png");
  background-size: cover;
  height: calc(100vh - 70px);
  position: relative;
}

.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
}

.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}

.landing .intro-text p {
  font-size: 18px;
  line-height: var(--space-height);
}
/* End Landing Section */

/* Start Features */
.features {
  padding: var(--p-y) 0;
  background-color: var(--section-background-color);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.features .box {
  padding: 20px;
  text-align: center;
}

.features .box:hover {
  cursor: pointer;
  box-shadow: 0px 5px 5px 0px rgba(36, 39, 46, 0.1);
}

.features .box i {
  color: var(--main-color);
}

.features .box h3 {
  font-weight: 800;
  margin: 20px 0;
}

.features .box p {
  color: var(--gray-color);
  font-size: 18px;
  line-height: var(--space-height);
}
/* End Features */

/* Start Services */
.services {
  padding: var(--p-y) 0;
}

.services .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}

.services .content .service {
  display: flex;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .services .content .service {
    text-align: center;
    flex-direction: column;
  }
}

.services .content .service i {
  color: var(--main-color);
  flex-basis: 60px;
}

.services .content .service .text {
  flex: 1;
}

.services .content .service .text h3 {
  margin: 0 0 20px 0;
}

.services .content .service .text p {
  line-height: var(--space-height);
  color: var(--gray-color);
  font-weight: 300;
}

.services .content .col .image {
  position: relative;
  text-align: center;
}

.services .content .col .image:before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 100px);
  background-color: var(--secondary-color);
  right: 0;
  top: -50px;
  z-index: -1;
}

.services .content .col .image img {
  width: 260px;
}

@media (max-width: 1196px) {
  .services .content .col .image {
    display: none;
  }
}
/* End Services */

/* Start Portfolio */
.portfolio {
  padding: var(--p-y) 0;
  background-color: var(--section-background-color);
}

.portfolio .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}

.portfolio .content .card {
  background-color: #fff;
  overflow: hidden;
}

.portfolio .content .card img {
  max-width: 100%;
}

.portfolio .content .card img:hover {
  transform: scale(1.1);
  transition: var(--transition-duration) linear;
  cursor: pointer;
}

.portfolio .content .card .info {
  padding: 20px;
}

.portfolio .content .card .info h3 {
  margin: 0;
}

.portfolio .content .card .info p {
  margin-bottom: 0;
  color: var(--gray-color);
  line-height: var(--space-height);
}

.portfolio .container .btn a {
  display: block;
  margin: 50px auto;
  max-width: 180px;
  text-decoration: none;
  padding: 8px 13px;
  font-size: 20px;
  font-weight: 800;
  user-select: none;
  color: var(--secondary-color);
  box-shadow: var(--secondary-color) 0 0px 0px 1px inset;
}

.portfolio .container .btn a:hover {
  color: var(--main-color);
  box-shadow: var(--secondary-color) 0 50px 0px 1px inset;
}
/* End Portfolio */
